In [212]:
import pandas as pd

In [213]:
# Load the dataset
movie_df = pd.read_csv('tmdb-movie-metadata/tmdb_5000_movies.csv')

# Preview the dataset
movie_df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [214]:
# Check data types
movie_df.dtypes

'''
All numeric variables in insterest are either interger or float. 
'''

'\nAll numeric variables in insterest are either interger or float. \n'

In [215]:
# Check observation counts for each variable
print(movie_df.count())

budget                  4803
genres                  4803
homepage                1712
id                      4803
keywords                4803
original_language       4803
original_title          4803
overview                4800
popularity              4803
production_companies    4803
production_countries    4803
release_date            4802
revenue                 4803
runtime                 4801
spoken_languages        4803
status                  4803
tagline                 3959
title                   4803
vote_average            4803
vote_count              4803
dtype: int64

In [216]:
# Missing data cleaning
'''
"homepage", "overview", "tagline" will be dropped since we don't include these varaibles 
in analysis.
'''
# Make a new dataset as a copy
clean1_df=movie_df.copy()

# Delete the unused columns
clean1_df.drop(['homepage', 'overview', 'tagline'], axis=1, inplace=True)

# Drop missing data
clean2_df = clean1_df.dropna()


clean2_df.count()
# final number of observation came down to 4800.

budget                  4800
genres                  4800
id                      4800
keywords                4800
original_language       4800
original_title          4800
popularity              4800
production_companies    4800
production_countries    4800
release_date            4800
revenue                 4800
runtime                 4800
spoken_languages        4800
status                  4800
title                   4800
vote_average            4800
vote_count              4800
dtype: int64

In [217]:
# Check the summary statistics
clean2_df.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4.800000e+03,4800.000000,4800.000000,4.800000e+03,4800.000000,4800.000000,4800.000000
mean,2.906007e+07,56949.011667,21.505569,8.231205e+07,106.898125,6.094458,690.646875
std,4.073029e+07,88292.839372,31.822163,1.628950e+08,22.561593,1.188366,1234.852449
min,0.000000e+00,5.000000,0.000372,0.000000e+00,0.000000,0.000000,0.000000
25%,8.000000e+05,9012.750000,4.682212,0.000000e+00,94.000000,5.600000,54.000000
50%,1.500000e+07,14623.500000,12.928897,1.918199e+07,103.000000,6.200000,236.000000
75%,4.000000e+07,58512.500000,28.350628,9.293886e+07,118.000000,6.800000,737.250000
max,3.800000e+08,447027.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [218]:
# Check missing values

zero_budget=pd.DataFrame(clean2_df.loc[clean2_df["budget"]==0])                      
valid_budget=pd.DataFrame(clean2_df.loc[clean2_df["budget"] > 0])


print(zero_budget.count()) 
# 1036 observation has a budget of $0. 

print(valid_budget["budget"].value_counts())

# multiple imputation: replace the zero values to the mean value
mean_budget= (clean2_df["budget"].mean())
clean2_df["budget"]=clean2_df["budget"].replace({0: mean_budget})

print(f'The average budget is {mean_budget}')

budget                  1036
genres                  1036
id                      1036
keywords                1036
original_language       1036
original_title          1036
popularity              1036
production_companies    1036
production_countries    1036
release_date            1036
revenue                 1036
runtime                 1036
spoken_languages        1036
status                  1036
title                   1036
vote_average            1036
vote_count              1036
dtype: int64
20000000    144
30000000    128
25000000    126
40000000    123
15000000    119
           ...
3180000       1
5952000       1
3730500       1
78146652      1
40600000      1
Name: budget, Length: 434, dtype: int64
The average budget is 29060068.024791665

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [219]:
# Check missing values

zero_revenue=pd.DataFrame(clean2_df.loc[clean2_df["revenue"]==0])                      
valid_revenue=pd.DataFrame(clean2_df.loc[clean2_df["revenue"] > 0])

zero_revenue.count()

# multiple imputation: replace the zero values to the mean value
mean_revenue= (clean2_df["revenue"].mean())
clean2_df["revenue"]=clean2_df["revenue"].replace({0: mean_revenue})

print(f'The average revenue is {mean_revenue}')

The average revenue is 82312051.55083333

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [220]:
# Check missing values

zero_runtime=pd.DataFrame(clean2_df.loc[clean2_df["runtime"]==0])                      
valid_runtime=pd.DataFrame(clean2_df.loc[clean2_df["runtime"] > 0])

zero_runtime.count()

# multiple imputation: replace the zero values to the mean value
mean_runtime= (clean2_df["runtime"].mean())
clean2_df["runtime"]=clean2_df["runtime"].replace({0: mean_runtime})

print(f'The average runtime is {mean_runtime}')

The average runtime is 106.898125

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [221]:
# Check missing values

zero_vote_average=pd.DataFrame(clean2_df.loc[clean2_df["vote_average"]==0])                      
valid_vote_average=pd.DataFrame(clean2_df.loc[clean2_df["vote_average"] > 0])

zero_vote_average.count()

# multiple imputation: replace the zero values to the mean value
mean_vote_average= (clean2_df["vote_average"].mean())
clean2_df["vote_average"]=clean2_df["vote_average"].replace({0: mean_vote_average})

print(f'The average vote average is {mean_vote_average}')

The average vote average is 6.094458333333329

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [222]:
# Check missing values

zero_vote_count=pd.DataFrame(clean2_df.loc[clean2_df["vote_count"]==0])                      
valid_vote_count=pd.DataFrame(clean2_df.loc[clean2_df["vote_count"] > 0])

zero_vote_count.count()

# multiple imputation: replace the zero values to the mean value
mean_vote_count= (clean2_df["vote_count"].mean())
clean2_df["vote_count"]=clean2_df["vote_count"].replace({0: mean_vote_count})

print(f'The average vote count is {mean_vote_count}')

The average vote count is 690.646875

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [223]:
# Check the summary statistics of the final dataset

clean2_df.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4.800000e+03,4800.000000,4800.000000,4.800000e+03,4800.000000,4800.000000,4800.000000
mean,3.533220e+07,56949.011667,21.505569,1.067313e+08,107.655320,6.171909,699.279961
std,3.791177e+07,88292.839372,31.822163,1.546866e+08,20.675889,0.966487,1232.405116
min,1.000000e+00,5.000000,0.000372,5.000000e+00,14.000000,0.500000,1.000000
25%,1.200000e+07,9012.750000,4.682212,2.758125e+07,94.000000,5.600000,59.000000
50%,2.906007e+07,14623.500000,12.928897,8.231205e+07,104.000000,6.200000,250.000000
75%,4.000000e+07,58512.500000,28.350628,9.293886e+07,118.000000,6.800000,737.250000
max,3.800000e+08,447027.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [224]:
# Check unique identifier
clean2_df["id"].is_unique

True

In [225]:
# Set index (run only once)

clean2_df.set_index("id", inplace=True)

In [228]:
# sort index

clean2_df.sort_index(axis=0, inplace=True)
clean2_df.head()

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,budget,genres,keywords,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,title,vote_average,vote_count
id,,,,,,,,,,,,,,,,
5,4000000.0,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 35, ""name...","[{""id"": 612, ""name"": ""hotel""}, {""id"": 613, ""na...",en,Four Rooms,22.876230,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1995-12-09,4300000.0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Four Rooms,6.5,530.0
11,11000000.0,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...","[{""id"": 803, ""name"": ""android""}, {""id"": 4270, ...",en,Star Wars,126.393695,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1977-05-25,775398007.0,121.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Star Wars,8.1,6624.0
12,94000000.0,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...","[{""id"": 494, ""name"": ""father son relationship""...",en,Finding Nemo,85.688789,"[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2003-05-30,940335536.0,100.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Finding Nemo,7.6,6122.0
13,55000000.0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 422, ""name"": ""vietnam veteran""}, {""id""...",en,Forrest Gump,138.133331,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1994-07-06,677945399.0,142.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Forrest Gump,8.2,7927.0
14,15000000.0,"[{""id"": 18, ""name"": ""Drama""}]","[{""id"": 255, ""name"": ""male nudity""}, {""id"": 29...",en,American Beauty,80.878605,"[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1999-09-15,356296601.0,122.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,American Beauty,7.9,3313.0